header {
  text-align: center;
  background-color: rgb(132, 24, 200);
  padding-bottom: 3rem;
}


main {
  background-color: rgb(192, 117, 178);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}


.City {
  background-color: rgba(19, 188, 157, 0.208);
  border: 1px solid rgb(68, 68, 68);
  width: 75%;
  height: auto;
  padding: 1rem;
  max-width: 500px;
}

.City img {
  width: 100%;
  /* max-width: 100px; */
}

card-body {
  background-color: rgba(179, 236, 229, 0.208);

}


label {
  display: flex;
  flex-direction: row;
}

title {
  text-align: center;
}